* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
    }

  header{
    height: 80px;
    background-color: #def2fc;
    z-index: 1000;
  }

  .header-nav{
    background-color: #def2fc;
    position: fixed;
    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-title {
    background-color: #def2fc;
    position: fixed;
    height: 60px;
    width: 50%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1001;
  }

  .header-list {
    background-color: #def2fc;
    position: fixed;
    height: 60px;
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  a.title-logo{
    padding: 0.5em;
    margin: 10px 0;
    color: #000 !important;
    background: #def2fc;
    text-decoration: none;
    font-weight: bold;
    font: size 24px;
    border-radius: 3px;
    text-align:center;
    text-decoration:none !important;
  }
  a.title-logo:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: -3px 5px 0 0;
    background: url("../logo/mask_logo.svg") no-repeat;
    background-size: contain;
    vertical-align: -30%;
  }
  
  @media screen and (min-width: 768px){
    a.title-logo{
      padding: 0.5em 2em;
      margin: 10px auto;
      font-size:20px;
      display:inline-block;
    }
    a.title-logo:before {
      margin: -3px 10px 0 0;
    }
  }
  
  a.btn-home{
    padding: 0.5em;
    margin: 10px 0;
    color: #000 !important;
    background: #def2fc;
    text-decoration: none;
    font-weight: bold;
    font-size:16px;
    border-radius: 3px;
    text-align:center;
    text-decoration:none !important;
  }
  a.btn-home:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -3px 5px 0 0;
    background: url("../logo/home_logo.svg") no-repeat;
    background-size: contain;
    vertical-align: -25%;
  }
  a.btn-home:hover {
    background: #ffcbcb;
  }
  @media screen and (min-width: 768px){
    a.btn-home{
      padding: 0.5em 2em;
      margin: 10px auto;
      font-size:20px;
      display:inline-block;
    }
    a.btn-home:before {
      margin: -3px 10px 0 0;
    }
  }

  a.btn-about{
    padding: 0.5em; 
    margin: 10px 0; 
    display: block; 
    color: #000 !important;
    background: #def2fc;
    text-decoration: none;
    font-weight: bold;
    font-size:16px;
    border-radius: 3px;
    text-align:center;
    text-decoration:none !important;
  }
  a.btn-about:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -3px 5px 0 0;
    background: url("../logo/camera_logo.svg") no-repeat;
    background-size: contain;
    vertical-align: -30%;
  }
  a.btn-about:hover {
    background: #fdffdf;
  }
  @media screen and (min-width: 768px){
    a.btn-about{
       padding: 0.5em 2em; 
       margin: 10px auto; 
      font-size:20px;
      display:inline-block;
    }
    a.btn-about:before {
      margin: -3px 10px 0 0;
    } 
  }

  a.btn-predict{
    padding: 0.5em;
    margin: 10px 0;
    display: block;
    color: #000 !important;
    background: #def2fc;
    text-decoration: none;
    font-weight: bold;
    font-size:16px;
    border-radius: 3px;
    text-align:center;
    text-decoration:none !important;
  }
  a.btn-predict:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -3px 5px 0 0;
    background: url("../logo/lens_logo.svg") no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
  a.btn-predict:hover {
    background: #d3ffb6;
  }
  @media screen and (min-width: 768px){
    a.btn-predict{
      padding: 0.5em 2em; 
      margin: 10px auto;
      font-size:20px;
      display:inline-block;
    }
    a.btn-predict:before { 
      margin: -3px 10px 0 0;
    }
  }
  
  #first-block {
    height: 1000px;
    background-color:#def2fc;
  }
  
  #second-block {
    height: 1000px;
    background: linear-gradient(#def2fc, #98caf3);
    text-align: center;
  }

  .info-title{
    font-size: 100px;
    padding-top: 200px;
    padding-bottom: 50px;
    color: #444;
    text-align: center;
  }

  .info-text{
    font-size: 30px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    color: #444;
    text-align: center;
  }

  a.txtbtn-predict{
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    color: #000 ;
    background: #def2fc;
    font-size:40px;
    border-radius: 30px;
    text-align:center;
    text-decoration:none ;
  }

  a.txtbtn-predict:hover {
    background: #d3ffb6;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 50px;
    background-color: #000;
    font-size: 15px;
    color: #fff;
  }